.singleChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.singleChoice_pic {
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 180px;
    border: 1px solid grey;
    margin: 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #e9ecf4;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 5px;
}

.singleChoice_pic:hover {
    box-shadow: -5px -5px 15px #b8b7b7, 5px 5px 15px #99999b;
}

.singleChoice_pic_active {
    border: 5px solid blue
}

.singleChoice_green {
    border: 5px solid green;
}

.singleChoice_red {
    border: 5px solid red;
}

@media(max-width:1250px) {
    .singleChoice_pic {
        width: 150px;
        height: 120px;
    }
}