.withSlider_comparePicturesWrapper {
  user-select: none;
  width: 100%;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.withSlider_dropPlaceWrapper {
  width: 900px;
  box-sizing: border-box;

  height: 500px;
  display: flex;
  flex-flow: row wrap;

  justify-content: space-between;
}

.withSlider_dragPlaceWrapper {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}

.withSlider_dropPlace {
  box-sizing: border-box;

  /*width: 250px;*/
  height: 250px;
}

.withSlider_dropPicture_box {
  /*padding: 10px;*/
  border: 2px solid #99999b;
  border-radius: 12px;
  margin-bottom: 10px;
  /*width: 250px;*/
  height: 250px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items:center;

  justify-content: center;
  background-color: #ecebeb;
}

.withSlider_dropPicture {
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.withSlider_dragPicture {
  box-sizing: border-box;

  max-width: 100%;
  max-height: 100%;
}

.withSlider_dropPlace_imageBox {
  position: absolute;
  /*width: 250px;*/
  height: 220px;
  border: 2px dashed #99999b;
  border-radius: 12px;
  box-sizing: border-box;

  background-repeat: no-repeat;

  background-size: contain;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.withSlider_dragPicture_box {
  position: relative;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.withSlider_sliderContent {
  height: 120px;
  width: 80%;

  overflow: hidden;
  display: flex;

  align-items: center;
  box-sizing: border-box;

  position: relative;
  box-shadow: -5px -5px 15px #e0dfdf, 5px 5px 15px #d8d6d6;
  border-radius: 12px;
}

.withSlider_slider_box {
  height: 100%;

  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  gap: 10px;
  position: absolute;
}

.withSlider_sliderContent_button {
  width: 50px;
  height: 50px;
  background-color: #dde7fd;
  border-radius: 50px;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.withSlider_leftButton {
  user-select: none;
  margin: 0 1vw 0 0;
  box-sizing: border-box;
}

.withSlider_rightButton {
  user-select: none;
  margin: 0 0 0 1vw;
  box-sizing: border-box;
}

.withSlider_sliderContent_button:hover {
  background-color: #dde7fda1;
}

.is-disabled {
  opacity: 0;
  cursor: auto;
}
.withSlider_dndIWS_audio{
  display: none !important;
}


@media screen and (max-width: 1370px) {
  .withSlider_comparePicturesWrapper {
    height: 650px;
  }

  .withSlider_dropPlaceWrapper {
    height: 500px;
    width: 100%;
  }
  .withSlider_dropPicture_box,
  .withSlider_dropPlace {
   
    height: 150px;
  }
  .withSlider_dropPlace_imageBox {
    width: 180px;
    height: 250px;
  }
/*
  .dragPlaceWrapper {
    height: 120px;
  }
  

  

  */
  .withSlider_dragPicture_box {
    height: 80px;
    width: 80px;
  }

  .withSlider_sliderContent {
    height: 100px;
  }
}
